@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Click Here to Begin the <a href="Movie/Registration">Movie Registration</a> process.</p>
</div>
