@model MovieModel

<h4>Movie ID: 1</h4>
<h4>Movie Title: The Wizard of Oz</h4>
<h4>Movie Genre: Sci-Fi</h4>
<h4>Movie Year: 1939</h4>
<h4>Movie Actors: Judy Garland, Margarret Hamilton, Ray Bolger</h4>
<h4>Movie Directors: Victor Fleming</h4>
<br />
<hr />
<br />
<h4>Movie ID: 2</h4>
<h4>Movie Title: Get Out</h4>
<h4>Movie Genre: Suspense/Thriller</h4>
<h4>Movie Year: 2017</h4>
<h4>Movie Actors: Daniel Kaluuya, Allison Williams, Lil Rel Howery</h4>
<h4>Movie Directors: Jordan Peele</h4>
<br />
<hr />
<br />
<h4>Movie ID: 3</h4>
<h4>Movie Title: Like A Boss</h4>
<h4>Movie Genre: Comedy</h4>
<h4>Movie Year: 2020</h4>
<h4>Movie Actors: Tiffany Haddish, Selma Hayek, Rose Byrne</h4>
<h4>Movie Directors: Miguel Arteta</h4>
<br />
<hr />
<br />
<h4>Movie ID: 4</h4>
<h4>Movie Title: Rush Hour</h4>
<h4>Movie Genre: Action</h4>
<h4>Movie Year: 1998</h4>
<h4>Movie Actors: Jackie Chan, Chris Tucker, Ken Leung, Tom Wilkinson</h4>
<h4>Movie Directors: Brett Ratner</h4>